@import url(https://fonts.googleapis.com/css?family=Exo+2:300&subset=latin,cyrillic);

body {
    margin: 0;
    font-family: "Exo 2", sans-serif;
    background-color: #000;
}
.footer {
    background-color: #05A88D;
    color: #fff;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .left {
    max-width: 50%;
}
.footer .left h1 {
    color: #F1E67D;
    font-size: 24px;
    margin: 0;
}
.footer .left p {
    color: #e0e0e0;
    font-size: 14px;
    margin: 10px 0;
}
.footer .right {
    text-align: right;
    max-width: 50%;
}
.footer .right h2 {
    color: white;
    font-size: 14px;
    margin: 0;
}
.footer .right p {
    color: #F1E67D;
    font-size: 24px;
    margin: 5px 0;
}
.footer .right address {
    color: #e0e0e0;
    font-size: 14px;
    margin: 0;
}
.footer .bottom {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
}
.footer .bottom p {
    color: #e0e0e0;
    font-size: 12px;
    margin: 0;
}