:root {
    --blue: #2797B2;
    --black: #000000;
    --white: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Exo 2", 'Times New Roman', Times, serif;
}

.logo {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100px;
    height: 100px;
    transition: ease-in-out .5s;
}

.logo:hover {
    transform: rotate(360deg);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #15638F;
}

.card {
    background-color: var(--white);
    width: 10vw;
    padding: 20px;
    border-radius: 1.2vw;
}

.card__content_el {
    margin-top: .5vw;
}

.water{
    position: relative;
    left: -20px;
    top: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border-radius: 1.2vw 1.2vw 0 0;
}

.card__btn {
    background-color: darkcyan;
    color: var(--white);
    font-weight: bold;
    border: none;
    border-radius: .6vw;
    padding: .4vw 2vw;  
    position: relative;
    transition: .3s ease;
}
.card__btn:hover {
    background-color: rgb(2, 180, 180);
}
